<p-card [header]="'CONTRIB.TITLE' | translate" class="mt-4">
  <p-button [label]="'CONTRIB.NEW_BUTTON' | translate" icon="pi pi-plus" (click)="openForm()" class="mb-3" />

  <p-table ...>
    <ng-template pTemplate="header">
      <tr>
        <th>{{ 'CONTRIB.DESCRIPTION' | translate }}</th>
        <th>{{ 'CONTRIB.BILL' | translate }}</th>
        <th>{{ 'CONTRIB.STRATEGY' | translate }}</th>
        <th>{{ 'CONTRIB.DEADLINE' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contribution>
      <tr>
        <td>{{ contribution.descripcion }}</td>
        <td>{{ getBillDescription(contribution.bill_id) }}</td>
        <td>{{ contribution.strategy === 'EQUAL' ? ('CONTRIB.STRATEGY_EQUAL' | translate) : ('CONTRIB.STRATEGY_INCOME' | translate) }}</td>
        <td>{{ contribution.fecha_limite | date: 'dd/MM/yyyy' }}</td>
      </tr>
      <tr>
        <td colspan="4">
          <p-table [value]="contribution.details" ...>
            <ng-template pTemplate="header">
              <tr>
                <th>{{ 'CONTRIB.MEMBER' | translate }}</th>
                <th>{{ 'CONTRIB.ROLE' | translate }}</th>
                <th>{{ 'CONTRIB.AMOUNT' | translate }}</th>
                <th>{{ 'CONTRIB.STATUS' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-detail>
              <tr>
                <td>{{ detail.user?.name }}</td>
                <td>{{ detail.user?.role === 'REPRESENTANTE' ? 'Representante' : 'Miembro' }}</td>
                <td>{{ detail.monto | number: '1.2-2' }}</td>
                <td>{{ detail.status }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr><td colspan="4" class="text-center">{{ 'CONTRIB.NO_PAYMENT_RECORDS' | translate }}</td></tr>
            </ng-template>
          </p-table>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr><td colspan="4" class="text-center">{{ 'CONTRIB.NO_CONTRIBUTIONS' | translate }}</td></tr>
    </ng-template>
  </p-table>
</p-card>
