<app-nav-bar></app-nav-bar>

<section class="login-section d-flex align-items-center justify-content-center">
  <div class="login-box shadow p-4 rounded">
    <h2 class="text-center mb-4">{{ 'FORGOT.TITLE' | translate }}</h2>
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">{{ 'FORGOT.EMAIL_LABEL' | translate }}</label>
        <input type="email" class="form-control" id="email" />
      </div>
      <button type="button" class="btn w-100 signin-button" [routerLink]="['/reset-password']">
        {{ 'FORGOT.CHANGE_PASSWORD_BUTTON' | translate }}
      </button>
    </form>
    <div class="text-center mt-3">
      <a [routerLink]="['/autenticacion/login']" class="text-decoration-none text-secondary">
        {{ 'FORGOT.BACK_TO_LOGIN' | translate }}
      </a>
    </div>
  </div>
</section>

<app-the-footer></app-the-footer>
