<div class="forgot-password-container">
  <div class="login-header">
    <app-language-switcher></app-language-switcher>
  </div>
  <div class="forgot-password-box">

    <a routerLink="/" class="brand-logo mb-4">
      <img src="assets/images/logo.png" alt="SplitEasy Logo">
    </a>

    <h1 class="form-title">{{ 'FORGOT.TITLE' | translate }}</h1>
    <p class="form-description">{{ 'FORGOT.DESCRIPTION' | translate }}</p>

    <form class="mt-4"> <div class="form-group">
      <label for="email" class="form-label">{{ 'FORGOT.EMAIL_LABEL' | translate }}</label>
      <div class="input-group">
        <i class="bi bi-envelope-fill input-icon"></i>
        <input id="email" name="email" type="email" class="form-control" />
      </div>
    </div>

      <button type="submit" class="btn btn-login w-100">
        {{ 'FORGOT.BUTTON' | translate }}
      </button>
    </form>

    <div class="back-link-container mt-4">
      <a [routerLink]="['/autenticacion/login']" class="back-to-login-link">
        <i class="bi bi-arrow-left me-2"></i>
        {{ 'FORGOT.BACK_TO_LOGIN' | translate }}
      </a>
    </div>
  </div>
</div>
