<!-- About Section -->
<section class="container mt-5" id="about">
  <div class="row text-center">
    <h1 class="center">{{ 'ABOUT.TITLE' | translate }}</h1>
    <div class="col-md-6">
      <h2>{{ 'ABOUT.MISSION_TITLE' | translate }}</h2>
      <p>{{ 'ABOUT.MISSION_TEXT' | translate }}</p>

      <h2>{{ 'ABOUT.VISION_TITLE' | translate }}</h2>
      <p>{{ 'ABOUT.VISION_TEXT' | translate }}</p>

      <h2>{{ 'ABOUT.WHY_TITLE' | translate }}</h2>
      <p>{{ 'ABOUT.WHY_TEXT_1' | translate }}</p>
      <p>{{ 'ABOUT.WHY_TEXT_2' | translate }}</p>
    </div>
    <div class="col-md-6">
      <h2>{{ 'ABOUT.WHO_TITLE' | translate }}</h2>
      <p [innerHTML]="'ABOUT.WHO_TEXT_1' | translate"></p>
      <p>{{ 'ABOUT.WHO_TEXT_2' | translate }}</p>
      <p [innerHTML]="'ABOUT.WHO_TEXT_3' | translate"></p>
    </div>
  </div>
  <!-- Sección de videos -->
  <div class="container mb-5">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="video-wrapper">
          <video controls class="video-fluid">
            <source src="assets/videos/video_about_team.mp4" type="video/mp4" />
            Tu navegador no soporta el video MP4.
          </video>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="video-wrapper">
          <video controls class="video-fluid">
            <source src="assets/videos/video_about_product.mkv" type="video/webm" />
            Tu navegador no soporta el video MKV.
          </video>
        </div>
      </div>
    </div>
  </div>

</section>
