<div class="p-4 max-w-screen-lg mx-auto">
  <p-card [header]="'BILLS.TITLE' | translate" class="mt-4">
    <button class="btn-custom mb-3" (click)="showForm()">
      <i class="pi pi-plus"></i> <span>{{ 'BILLS.REGISTER_BUTTON' | translate }}</span>
    </button>

    <p-table [value]="bills" [loading]="loading" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'BILLS.DESCRIPTION' | translate }}</th>
          <th>{{ 'BILLS.AMOUNT' | translate }}</th>
          <th>{{ 'BILLS.DATE' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bill>
        <tr>
          <td>{{ bill.descripcion }}</td>
          <td>{{ bill.monto }}</td>
          <td>{{ bill.fecha }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

  <p-dialog
    [header]="'BILLS.NEW_BILL_DIALOG' | translate"
    [(visible)]="formVisible"
    [modal]="true"
    [style]="{ width: '400px' }"
  >
    <form [formGroup]="billForm" (ngSubmit)="submit()">
      <div class="p-fluid">
        <div class="field">
          <label for="descripcion">{{ 'BILLS.DESCRIPTION' | translate }}</label>
          <input id="descripcion" type="text" pInputText formControlName="descripcion" />
        </div>
        <div class="field">
          <label for="monto">{{ 'BILLS.AMOUNT' | translate }}</label>
          <input id="monto" type="number" pInputText formControlName="monto" />
        </div>
        <div class="field">
          <label for="fecha">{{ 'BILLS.DATE' | translate }}</label>
          <input id="fecha" type="date" pInputText formControlName="fecha" />
        </div>
      </div>
    </form>

    <ng-template pTemplate="footer">
      <button
        type="submit"
        class="btn-custom"
        (click)="submit()"
        [disabled]="billForm.invalid"> <i class="pi pi-check"></i>
        <span>{{ 'BILLS.SAVE_BUTTON' | translate }}</span>
      </button>
    </ng-template>

  </p-dialog>
</div>
