<!-- Services Section-->
<section class="container mt-5" id="services">
  <h1 class="text-center mb-4">{{ 'SERVICES.TITLE' | translate }}</h1>
  <div class="row row-cols-1 row-cols-md-4 g-4 mb-5">

    <div class="col">
      <div class="card card-dark h-100 text-center">
        <div class="card-body">
          <i class="bi bi-calculator display-4 mb-3"></i>
          <h2 class="card-title">{{ 'SERVICES.SERVICE1.TITLE' | translate }}</h2>
          <p class="card-text">{{ 'SERVICES.SERVICE1.DESCRIPTION' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-dark h-100 text-center">
        <div class="card-body">
          <i class="bi bi-pie-chart-fill display-4 mb-3"></i>
          <h2 class="card-title">{{ 'SERVICES.SERVICE2.TITLE' | translate }}</h2>
          <p class="card-text">{{ 'SERVICES.SERVICE2.DESCRIPTION' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-dark h-100 text-center">
        <div class="card-body">
          <i class="bi bi-people-fill display-4 mb-3"></i>
          <h2 class="card-title">{{ 'SERVICES.SERVICE3.TITLE' | translate }}</h2>
          <p class="card-text">{{ 'SERVICES.SERVICE3.DESCRIPTION' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-dark h-100 text-center">
        <div class="card-body">
          <i class="bi bi-pc-display-horizontal display-4 mb-3"></i>
          <h2 class="card-title">{{ 'SERVICES.SERVICE4.TITLE' | translate }}</h2>
          <p class="card-text">{{ 'SERVICES.SERVICE4.DESCRIPTION' | translate }}</p>
        </div>
      </div>
    </div>

  </div>
</section>
