<app-nav-bar></app-nav-bar>

<section class="login-section d-flex align-items-center justify-content-center">
  <div class="login-box shadow p-4 rounded">
    <h2 class="text-center mb-4">{{ 'RESET.TITLE' | translate }}</h2>
    <form>
      <div class="mb-3">
        <label for="password" class="form-label">{{ 'RESET.NEW_PASSWORD_LABEL' | translate }}</label>
        <input
          type="password"
          class="form-control"
          placeholder="********"
        />
      </div>
      <div class="mb-3">
        <label for="repeatPassword" class="form-label">{{ 'RESET.CONFIRM_PASSWORD_LABEL' | translate }}</label>
        <input
          type="password"
          class="form-control"
          placeholder="********"
        />
      </div>
      <button type="button" class="btn w-100 signin-button" [routerLink]="['/autenticacion/login']">
        {{ 'RESET.BUTTON' | translate }}
      </button>
    </form>
  </div>
</section>

<app-the-footer></app-the-footer>
