<section class="contact-section" id="contactus">
  <div class="container">
    <h1 class="section-title text-center">{{ 'CONTACT_US.TITLE' | translate }}</h1>
    <div class="row align-items-center">

      <div class="col-md-6 mb-4 mb-md-0">
        <div class="map-wrapper">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.118283054894!2d-76.96548598909544!3d-12.104054188087764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c70ab77498c1%3A0xcce9f50642e7c684!2sUniversidad%20Peruana%20de%20Ciencias%20Aplicadas!5e0!3m2!1ses-419!2spe!4v1744761111521!5m2!1ses-419!2spe"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>

      <div class="col-md-6">
        <form class="contact-form" (ngSubmit)="enviarFormulario()" #formContacto="ngForm">
          <div class="form-group">
            <label for="nombre" class="form-label">{{ 'CONTACT_US.NAME_LABEL' | translate }}</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
          </div>
          <div class="form-group">
            <label for="correo" class="form-label">{{ 'CONTACT_US.EMAIL_LABEL' | translate }}</label>
            <input type="email" class="form-control" id="correo" name="correo" [(ngModel)]="correo" required>
          </div>
          <div class="form-group">
            <label for="numero" class="form-label">{{ 'CONTACT_US.PHONE_LABEL' | translate }}</label>
            <input type="tel" class="form-control" id="numero" name="numero" [(ngModel)]="numero" required>
          </div>
          <button type="submit" class="btn btn-submit w-100">
            {{ 'CONTACT_US.BUTTON' | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
