<div class="app-layout" [class.sidebar-collapsed]="!isSidebarOpen">

  <aside class="app-sidebar">
    <app-sidebar></app-sidebar>
  </aside>

  <div class="main-container">

    <header class="app-header">
      <p-button
        styleClass="toggle-button"
        [rounded]="true"
        [text]="true"
        [icon]="isSidebarOpen ? 'pi pi-angle-left' : 'pi pi-angle-right'"
        (click)="toggleSidebar()"
      ></p-button>

      <div class="header-content">
        <app-header></app-header>
      </div>
    </header>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
    <app-footer-sidebar class="w-100"></app-footer-sidebar>
  </div>

  <p-drawer
    [(visible)]="isSidebarOpenMobile"
    position="left"
    [modal]="true"
    [style]="{ width: '280px' }"
  >
    <ng-template pTemplate="content">
      <app-sidebar (onNavigate)="isSidebarOpenMobile = false"></app-sidebar>
    </ng-template>
  </p-drawer>

  <p-button
    *ngIf="isMobile"
    icon="pi pi-bars"
    styleClass="mobile-menu-button"
    [rounded]="true"
    [text]="true"
    (click)="isSidebarOpenMobile = true"
  ></p-button>
</div>
