<footer class="bg-black text-white pt-5 pb-0 mt-5">
  <div class="container">
    <hr class="border-top border-white opacity-100">

    <div class="row text-center text-md-start">
      <!-- Social Medias -->
      <div class="col-md-4 mb-4">
        <h5>{{ 'FOOTER.FOLLOW_US' | translate }}</h5>
        <div class="mt-3">
          <a href="#" class="text-white me-3"><i class="bi bi-facebook fs-4"></i></a>
          <a href="#" class="text-white me-3"><i class="bi bi-instagram fs-4"></i></a>
          <a href="#" class="text-white me-3"><i class="bi bi-twitter fs-4"></i></a>
          <a href="#" class="text-white me-3"><i class="bi bi-linkedin fs-4"></i></a>
          <a href="mailto:contacto@spliteasy.com" class="text-white"><i class="bi bi-envelope-fill fs-4"></i></a>
        </div>
      </div>

      <!-- Legal information -->
      <div class="col-md-4 mb-4">
        <h5>{{ 'FOOTER.LEGAL.TITLE' | translate }}</h5>
        <ul class="list-unstyled mt-3">
          <li><a href="Interfaces/legal-notice.html" class="text-white text-decoration-none">{{ 'FOOTER.LEGAL.LEGAL_NOTICE' | translate }}</a></li>
          <li><a href="Interfaces/privacy-policy.html" class="text-white text-decoration-none">{{ 'FOOTER.LEGAL.PRIVACY' | translate }}</a></li>
          <li><a href="Interfaces/cookies-policy.html" class="text-white text-decoration-none">{{ 'FOOTER.LEGAL.COOKIES' | translate }}</a></li>
          <li><a href="Interfaces/faq.html" class="text-white text-decoration-none">{{ 'FOOTER.LEGAL.FAQ' | translate }}</a></li>
        </ul>
      </div>

      <!-- Support -->
      <div class="col-md-4 mb-4">
        <h5>{{ 'FOOTER.SUPPORT.TITLE' | translate }}</h5>
        <ul class="list-unstyled mt-3">
          <li><a href="mailto:soporte@spliteasy.com" class="text-white text-decoration-none">{{ 'FOOTER.SUPPORT.CONTACT' | translate }}</a></li>
          <li><a href="#" class="text-white text-decoration-none">{{ 'FOOTER.SUPPORT.HELP' | translate }}</a></li>
          <li><a href="Interfaces/faq.html" class="text-white text-decoration-none">{{ 'FOOTER.LEGAL.FAQ' | translate }}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bg-secundary text-center py-3 mt-4">
    <p class="mb-0 text-white">&copy; 2025 <strong>SplitEasy</strong>. {{ 'FOOTER.RIGHTS' | translate }}</p>
  </div>
</footer>
