:root {
  --first-color: #1565c0;
  --first-alpha-color: #1565c0bf;

  --second-color: #42a5f5;
  --second-alpha-color: #42a5f5bf;

  --third-color: #e3f2fd;
  --third-alpha-color: #e3f2fdbf;
}
.app-container {
  background-color: black;
  color: white;
  min-height: 100vh;
}

.background {
  background-color: black;
}
.bi {
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal;
  speak: none;
}
:host ::ng-deep .bi {
  font-family: bootstrap-icons !important;
}
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.btn-outline-light {
  background-color: var(--first-color) !important;
  border-color: var(--first-color) !important;
  color: #fff !important;
  padding: 1rem 2rem;
}

.btn-outline-light:hover {
  background-color: var(--second-color) !important;
  border-color: var(--second-color) !important;
  color: #fff !important;
}

.bg-primary {
  background-color: var(--second-color) !important;
}

.bg-secundary {
  background-color: var(--first-color) !important;
}

.card-dark {
  background-color: black !important;
  border: 1px solid white !important;
  color: white !important;
}

.container {
  padding: 2rem;
}

.container h1 {
  color: var(--first-color);
  font-size: 3em;
  margin-bottom: 1rem;
}

.container h2 {
  color: var(--second-color);
  font-size: 2em;
  margin-bottom: 1rem;
}

.container p {
  color: white;
  font-size: 1em;
  margin-bottom: 1rem;
}

.form-label {
  color: var(--second-color);
}

.hero-section {
  background: url(assets/images/portada.png) no-repeat center;
  background-size: cover;
  width: 100%;
}

.hero-section::before {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-section .container {
  height: 100vh;
  z-index: 1;
  position: relative;
}

.hero-section h3 {
  font-size: 0.8em;
}

.hero-section p {
  font-size: 0.6em;
}

.login-button {
  background-color: var(--first-color) !important;
  color: white;
  font-size: 14px;
  padding: 1rem 2rem;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  background-color: var(--second-color) !important;
}

.login-section {
  padding-top: 100px;
  min-height: 100vh;
}

.navbar {
  background-color: white;
  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}

.navbar-brand {
  font-weight: 300;
  font-size: 24px;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%231565C0' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%2342A5F5' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  transition: 0.3s ease-in-out;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: black;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}

.nav-link:hover,
.nav-link.active {
  color: var(--second-color);
}

.precio-card {
  border-radius: 50px;
  padding: 6rem;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 1.5rem;
}

.precio-card:hover {
  transform: scale(1.03);
}

.signin-button {
  background-color: var(--first-color) !important;
  color: white !important;
  font-size: 30px;
  padding: 1rem 2rem;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.signin-button:hover {
  background-color: var(--second-color) !important;
}

.text-split {
  color: var(--first-color);
}

.text-easy {
  color: black;
}



@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--first-color);
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
.container-form {
  display: flex;
  column-gap: 16px;
}
