<app-nav-bar></app-nav-bar>

<section class="login-section d-flex align-items-center justify-content-center">
  <div class="login-box shadow p-4 rounded">
    <h2 class="text-center mb-4">{{ 'REGISTER.TITLE' | translate }}</h2>
    <form>
      <div class="mb-3 d-flex gap-3">
        <div>
          <label for="firstName" class="form-label">{{ 'REGISTER.FIRST_NAME_LABEL' | translate }}</label>
          <input type="text" class="form-control" />
        </div>
        <div class="ml-2">
          <label for="lastName" class="form-label">{{ 'REGISTER.LAST_NAME_LABEL' | translate }}</label>
          <input type="text" class="form-control" />
        </div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">{{ 'REGISTER.EMAIL_LABEL' | translate }}</label>
        <input
          type="email"
          class="form-control"
          placeholder="ejemplo@correo.com"
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">{{ 'REGISTER.PASSWORD_LABEL' | translate }}</label>
        <input
          type="password"
          class="form-control"
          placeholder="********"
        />
      </div>

      <div class="mb-3">
        <label for="repeat-password" class="form-label">{{ 'REGISTER.REPEAT_PASSWORD_LABEL' | translate }}</label>
        <input
          type="password"
          class="form-control"
          placeholder="********"
        />
      </div>

      <div class="mb-3">
        <label for="role" class="form-label">{{ 'REGISTER.ROLE_LABEL' | translate }}</label>
        <select class="form-control">
          <option disabled selected>{{ 'REGISTER.ROLE_PLACEHOLDER' | translate }}</option>
          <option value="member">{{ 'REGISTER.ROLE_MEMBER' | translate }}</option>
          <option value="representative">{{ 'REGISTER.ROLE_REPRESENTATIVE' | translate }}</option>
        </select>
      </div>

      <button type="button" class="btn w-100 signin-button" [routerLink]="['/inicio']">
        {{ 'REGISTER.BUTTON' | translate }}
      </button>

      <div class="text-center mt-3">
        <a [routerLink]="['/autenticacion/login']" class="text-decoration-none text-secondary">
          {{ 'REGISTER.HAVE_ACCOUNT' | translate }}
        </a>
      </div>
    </form>
  </div>
</section>

<app-the-footer></app-the-footer>
